// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin blood-giving-dashboard {
  @include valo;

  .background-image {	   
    
  	  /** Image */	
	  background-image: url(img/background.jpg);

	  /** Centre vertically and horizontally  */
	  background-position: center center;

	  /** Does not tile */
	  background-repeat: no-repeat;

	  /** Fixe it */
	  background-attachment: fixed;

	  /** Scale */
	  background-size: cover;

	  /** Background color to be displayed while the background image is loading */
	  background-color: #464646;
	}
	
	.login-panel {
  	  	position: fixed;
  		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
 		background: #fff;
		border: 1px solid $v-focus-color;
		border-radius: $v-border-radius;
		box-shadow: 0 4px 20px rgba(0,0,0,.5);
		z-index: 3;
	}

	.login-panel .v-margin-left {
    	padding-left: 10px;
	}
	.login-panel .v-margin-right {
    	padding-right: 10px;
	}
	.login-panel .v-margin-top {
    	padding-top: 10px;
	}
	.login-panel .v-margin-bottom {
    	padding-bottom: 10px;
	}

	.login-panel .labels {
		display: block;
	    font-size: 16px;
		color:  $v-focus-color;
	}

	.login-panel .v-textfield {
		width: 175px;
	}
	
	.links-panel {
  	  	position: fixed;
  		bottom: 0;
  		left: 0;  		 		
	}
	
	.v-link {
  		cursor: pointer; 
  		text-decoration: none;
  		font-weight: inherit;  
  		transition: color 140ms;
  		/**color: white;*/  		
  		padding: 10px;
	}
	
	.menu-area {  	
		position: fixed;
		bottom: 0px;
		left: 0;	
		background: #197de1;	
		text-align: center;
		font-size: 16px;
		height: 34px;
		line-height: 34px;
	}
	
}
